# MongoDB HR Database
MONGODB_HR_URI=mongodb+srv://root:root@cluster0.bmrfwcm.mongodb.net/skelliohr

# Firebase HR Configuration (Separate Firebase project for HR)
NEXT_PUBLIC_FIREBASE_HR_API_KEY=AIzaSyCe93UtKisQoNsdtxnqlANr5xdXREB4t5Y
NEXT_PUBLIC_FIREBASE_HR_AUTH_DOMAIN=skelliohr.firebaseapp.com
NEXT_PUBLIC_FIREBASE_HR_PROJECT_ID=skelliohr
NEXT_PUBLIC_FIREBASE_HR_STORAGE_BUCKET=skelliohr.firebasestorage.app
NEXT_PUBLIC_FIREBASE_HR_MESSAGING_SENDER_ID=918815229944
NEXT_PUBLIC_FIREBASE_HR_APP_ID=1:918815229944:web:bff3f22897d3448168380d
NEXT_PUBLIC_FIREBASE_HR_MEASUREMENT_ID=G-F5RYRFZZVQ
